@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    padding: 5% 10%;
    font-size: 2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

ol {
    list-style-type:decimal;
    line-height:1.5;
    list-style-position:outside;
    color:rgb(214, 26, 13)
}
ul{
    list-style-type:lower-greek;
    text-align:left;
    list-style-position: inside;
    color:blueviolet;
    list-style-image:url('bird.jpg');
}

ul ::marker {
    color: red;
    font-family: fantasy;
    font-size: 1em;
    content: "Only 5Rs>> ";
}
